{{- $title := .Attributes.title -}}
{{- $lang := .Type -}}
<div class="code-block{{ if $title }} code-block--titled{{ end }}">
  {{- if $title -}}
  <div class="code-block__title">{{ $title }}</div>
  {{- end -}}
  {{- $highlighted := highlight .Inner $lang "" -}}
  {{- if eq $lang "console" -}}
    {{- $highlighted = replace $highlighted " \\\n" " <span class=\"se\">\\</span>\n" -}}
    {{- $highlighted = replace $highlighted "| " "<span class=\"o\">|</span> " -}}
  {{- end -}}
  {{- $highlighted | safeHTML -}}
</div>
