{{- $user := .Get "user" -}}
{{- $id := .Get "id" -}}
{{- $file := .Get "file" -}}

{{- $src := printf "https://gist.github.com/%s/%s.js" $user $id -}}
{{- $gistUrl := printf "https://gist.github.com/%s/%s" $user $id -}}
{{- if $file -}}
  {{- $src = printf "%s?file=%s" $src $file -}}
{{- end -}}

{{- $uniqueId := printf "gist-%s-%s" $id (now.UnixNano) -}}

{{- /* Fetch gist metadata from API */ -}}
{{- $apiUrl := printf "https://api.github.com/gists/%s" $id -}}
{{- $gistDesc := "" -}}
{{- $gistFiles := slice -}}
{{- $result := try (resources.GetRemote $apiUrl) -}}
{{- if and $result.Value (not $result.Err) -}}
  {{- $gistData := $result.Value.Content | transform.Unmarshal -}}
  {{- $gistDesc = $gistData.description | default "" -}}
  {{- range $name, $info := $gistData.files -}}
    {{- $gistFiles = $gistFiles | append $name -}}
  {{- end -}}
{{- end -}}

{{- $displayTitle := "" -}}
{{- if $file -}}
  {{- $displayTitle = $file -}}
{{- else if gt (len $gistFiles) 0 -}}
  {{- $displayTitle = index $gistFiles 0 -}}
{{- end -}}

<div class="gist-embed" id="{{ $uniqueId }}">
  <div class="gist-embed__header">
    <a href="{{ $gistUrl }}" target="_blank" rel="noopener noreferrer" class="gist-embed__link">
      <svg viewBox="0 0 16 16" fill="currentColor"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"/></svg>
      {{- if $displayTitle -}}
      <span class="gist-embed__title">{{ $displayTitle }}</span>
      {{- else -}}
      <span>View on GitHub</span>
      {{- end -}}
      <svg class="gist-embed__external" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3"/></svg>
    </a>
    {{- if $gistDesc -}}
    <span class="gist-embed__desc">{{ $gistDesc }}</span>
    {{- end -}}
    <button class="gist-embed__copy" onclick="copyGist('{{ $uniqueId }}')" title="Copy code">
      <svg class="gist-embed__copy-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><rect x="9" y="9" width="13" height="13" rx="2"/><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"/></svg>
      <svg class="gist-embed__check-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="20 6 9 17 4 12"/></svg>
    </button>
  </div>
  <div class="gist-embed__content">
    <script src="{{ $src }}"></script>
  </div>
</div>
