{{- $url := .Get 0 -}}
{{- $ratio := .Get 1 | default "56.25" -}}
{{- $slide := "" -}}
{{- if findRE `[?&]slide=(\d+)` $url -}}
  {{- $slide = replaceRE `.*[?&]slide=(\d+).*` "$1" $url -}}
{{- end -}}
{{- $oembedUrl := printf "https://speakerdeck.com/oembed.json?url=%s" $url -}}
{{- $data := dict -}}
{{- with resources.GetRemote $oembedUrl -}}
  {{- $data = . | transform.Unmarshal -}}
{{- end -}}
{{- $html := $data.html | default "" -}}
{{- $dataId := "" -}}
{{- if $html -}}
  {{- $dataId = replaceRE `(?s).*speakerdeck\.com/player/([a-f0-9]+).*` "$1" $html | strings.TrimSpace -}}
{{- end -}}

{{- $playerUrl := printf "https://speakerdeck.com/player/%s" $dataId -}}
{{- if $slide -}}
  {{- $playerUrl = printf "%s?slide=%s" $playerUrl $slide -}}
{{- end -}}

<div class="speakerdeck-embed" style="position: relative; padding-bottom: {{ $ratio }}%; height: 0; overflow: hidden; max-width: 100%;">
  <iframe
    src="{{ $playerUrl }}"
    title="{{ $data.title | default "Speaker Deck" }}"
    allowfullscreen
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;">
  </iframe>
</div>
